* {
  margin: 0;
  padding: 0;
}

.headerContainer {
  background: #eeeeee 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px 0px; */
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* header top */

.topHeader {
  background-color: #333f48;
  color: #ffffff;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}

.offer {
  display: none;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  flex-wrap: wrap;
}

.topLeft {
  display: flex;
  max-width: 400px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.topLeft select,
.topRight select {
  background-color: #333f48;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  border: none;
  outline: none;
}

.topRight {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px 0px;
  flex-wrap: wrap;
}

.wishlist a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #ffffff;
}

.wishlist svg {
  fill: #ffffff;
  height: 13px;
  width: 12px;
}

/* header middle */

.logoWrapper {
  position: relative;
  margin-top: -42px;
  background: #eeeeee;
}

.logoWrapper::before,
.logoWrapper::after {
  content: "";
  background-color: #333f48;
  width: 20px;
  height: 42px;
  transform: skew(-20deg);
  position: absolute;
  top: 0;
  left: -10px;
}

.logoWrapper::after {
  right: -10px;
  left: auto;
  transform: skew(20deg);
}

.logo svg {
  width: 100px;
  height: 130px;
}

.middleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

#menu {
  height: 20px;
  width: 26px;
  fill: #333f48;
}

#wishlist,
#menu,
.location {
  display: none;
}

.searchBar {
  display: flex;
  flex-grow: 1;
  margin: 0 100px;
  position: relative;
  border: 1px solid #333f48;
}

.searchBar select {
  height: 40px;
  width: 70px;
  text-align: center;
  border-right: 1px solid #333f48;
  outline: none;
}

.searchBar input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border: none;
  font-size: 15px;
  outline: none;
}

.searchBar button {
  background: #333f48 0% 0% no-repeat padding-box;
  height: 40px;
  width: 41px;
  outline: none;
  border: none;
}

.searchBar button svg {
  height: 14px;
  width: 14px;
  padding-top: 5px;
  fill: #ffffff;
}

.cart {
  position: relative;
}

.cartCount {
  background: #333f48;
  position: absolute;
  padding: 0px 6px 3px;
  border-radius: 50%;
  top: -6px;
  right: -6px;
}

.cartCount span {
  color: #ffffff;
  font-size: small;
  font-weight: bold;
}

/* header bottom  */

.navigation {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  flex-wrap: wrap;
  border-top: 1px solid #dddddd;
  position: relative;
}

.navigation .navList > a {
  color: #333f48;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  padding: 30px;
}

.navigation li {
  border-right: 1px solid #dddddd;
  /* padding: 10px 20px 10px 10px;
    margin: 7px; */
}

.navigation li:last-child {
  border-right: 0px;
  padding: 0px;
}

.megaMenuContainer {
  position: absolute;
  max-width: 1280px;
  width: 100%;
}

.megaMenu {
  display: flex;
  justify-content: space-between;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #00000029;
  height: 520px;
  padding: 40px 90px 40px 40px;
  position: relative;
  top: 0;
}

.megaMenu p {
  margin-bottom: 12px;
}

.megaMenu span {
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333f48;
  padding-bottom: 10px;
  border-bottom: 2px solid #333f48;
}

.megaMenu a {
  text-align: left;
  font-size: 13px;
  font-weight: normal;
  line-height: 26px;
  color: #333f48;
  text-decoration: none;
  color: #333f48;
}

#megaMenuImg {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 439px;
  align-items: center;
}

#megaMenuImg span {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #333f48;
  border-bottom: none;
}

#megaMenuImg a {
  text-decoration: underline;
  font-size: 14px;
  line-height: 17px;
  color: #333f48;
  text-transform: capitalize;
}

/* side Navigation bar  */

.sections {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  color: #333f48;
}

.sections p {
  padding: 20px 20px;
  border-image: url("../images/Menu-dropdown.png");
  /* border-bottom-style: ; */
}

.accountSection p {
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #eeeeee;
}

.sideNav {
  background: transparent;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  z-index: 1;
  display: flex;
}

#abc {
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(100% - 85%);
  height: 100vh;
}

.sideNavBody {
  width: 85%;
  background-color: #ffffff;
  height: 100vh;
  overflow: scroll;
}

.sideNavCategory li {
  padding: 20px 20px 20px 20px;
}

.sideNavList {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  align-items: center;
}

.sideNavList a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: 24px;
  color: #333f48;
}

.bottomSideNav {
  background-color: #333f48;
  /* width: 85%; */
}

.bottomSideNav select {
  border: none;
  background-color: #333f48;
  color: #ffffff;
  padding: 20px 20px;
  width: 95%;
  border-bottom: 1px solid #eeeeee;
  outline: none;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileHeader {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 20px;
  background-color: #eeeeee;
}

.mobileHeader img {
  height: 26px;
  width: 26px;
}

.megaMenuMobile ul {
  padding: 0 20px;
}

.category span {
  padding: 20px 0px;
  font-size: 16px;
  font-weight: bold;
  color: #333f48;
}

.megaMenuMobile a {
  text-decoration: none;
  font-size: 14px;
  color: #333f48;
  line-height: 24px;
}

.sideNav {
  width: 100%;
  animation: fade 0.5s ease-in-out;
}
@keyframes fade {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


/*   Responsive    */

@media only screen and (max-width: 767px) {
  .topContainer {
    display: none;
  }

  .middleContainer {
    padding: 0 20px;
  }

  .offer {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
  }

  #menu,
  .location {
    display: block;
  }

  .location svg {
    width: 17px;
    height: 20px;
    fill: #333f48;
  }

  .searchBar {
    display: flex;
    width: 100%;
    position: relative;
    order: 4;
    margin: 15px 0;
  }

  .searchBar input {
    width: 100%;
  }

  #wishlist {
    display: block;
  }

  .navigation {
    display: none;
  }

  .logoWrapper::before,
  .logoWrapper::after {
    display: none;
  }

  .logoWrapper {
    margin-top: 5px;
  }

  .logo svg {
    height: 48px;
    width: 58px;
  }
}
